.text-banner{ 
    color: blueviolet;
} /*ao usar "." no inico, marca apenas a clase*/

h1{
    color:aquamarine;
} /*Ao usar "h1" no inicio, marca todos os h1 do site*/
body{
    background-color:rgb(255, 255, 255);
}

.container{
    width: 100%;;
    background-color: rgb(255, 0, 0);
    height:  50px;

}
.image{
    width: 50%;;
    height: 50%;;
}